.header-title {
    font-size: 2rem;
    font-weight: bold;
    color: #060606;
    text-transform: uppercase; /* or lowercase, capitalize, none */
    letter-spacing: 2px;
    /* Add any other styles you want */
}

.header-title a {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #060606 !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
}

/* Align figure with content margin */
.content figure.left {
    float: none !important;
    margin: 2em 0 !important;
    max-width: 100% !important;
}